.flex{
    display: flex;
}

.gap{
    gap: 70px;
}

.pad{
    margin-left: 40px;
}

.padding-top{
    margin-top: 2px;
}

footer{
    margin-top: 50px;
}
.last{
    margin-top: 40px;
}